# EAS Build ignore rules
node_modules/
.expo/
.gradle/
.gradle
.gradle/**
android/.gradle/
android/.gradle
android/.gradle/**
**/.gradle/**
android/build/
android/app/build/
android/.cxx/
ios/build/
ios/Pods/
.DS_Store
*.lock
**/*.lock
**/checksums.lock
